#setname{
    color: #fba1a1;
    border-bottom-color: #fba1a1;
}
#message{
    color: #fba1a1;
    border-bottom-color: #fba1a1;
}
#success{
    color: #fba1a1;
    border-bottom-color: #fba1a1;
}
#bg{
    background:url("../img/zhuce.png") no-repeat;
   
}
#footerbg{
    background:url("../img/footerbg.jpg") no-repeat;
}
.top{
    display :block;
    font-size:30px;
    margin-left: 180px;
    padding-top: 50px;
    color: #fff;
    border-bottom-style: solid;
    border-bottom-width:thin;
    width:250px;
}
.step li p{
    font-size:18px;
}
#zhuce_baker{
    margin-top:40px;
    float: left;
    margin-left: 37%;
    width: 140px;
    height: 40px;
    background: #fba1a1;
    color: #fff;
    font-size: 16px;
    border: none;
}
#ok{
    margin:40px auto;
    position:absolute;
    left:50%;
    margin-left:-70px;
    width: 140px;
    height: 40px;
    background: #fba1a1;
    color: #fff;
    font-size: 16px;
    border:none;
}
.success{
    color:#FFF;
    font-size:20px;
    text-align:center;
    padding-top:120px;
}
#bgpic{
    background:white;
    height: 300px;
    width: 70%;
    position:absolute;
    text-align: center;
    left:50%;
    margin-left:-35%;
    opacity:0.2;
    z-index:-1;
}
