/*common part*/
*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

img{
    border: 0px;
}

.wrap{
    width: 1103px;
    margin: 0 auto;
}
/*common part*/


/*content begin*/
#content{
    height: 625px;
    background-color: white;
}

.search{
    outline: none;
    width: 470px;
    height: 46px;
    border: 2px solid #68c4ff;
    font-size: 19px;
    background: url("../img/searchLogo.png") no-repeat;
    margin-top: 53px;
    margin-left: 234px;
    text-indent: 57px;
    /*display: block;*/
    float: left;
}

.search::-webkit-input-placeholder {
    color: #68c4ff;
    font-size: 19px;
}

.searchBtn{
    width: 168px;
    height: 50px;
    background: url(../img/searchBtn.png);
    float: left;
    margin-top: 53px;
    border: none;
    cursor: pointer;
    outline: none;
}

.wordsLeft{
    width: 417px;
    height: 338px;
    border-right: 2px solid #fdd1d1;
    margin-top: 74px;
    float: left;
    margin-left: 133px;
}

.wordsRight{
    width: 417px;
    height: 338px;
    margin-top: 74px;
    float: left;
}

.wordsLeft h2{
    margin: 50px 0 15px 19px;
    font-size: 24px;
}

.wordsLeft h2 span{
    margin-left: 38px;
    margin-right: 15px;
    font: 14px MicrosoftYaHei;
    color: #fcaeae;
}

.wordsLeft p{
    margin-left: 19px;
    font-size: 14px;
}

.wordsLeft h3{
    margin: 48px 0 15px 19px;
    font-size: 24px;
}

.wordsRight h2{
    margin: 50px 0 15px 70px;
    font-size: 24px;
}

.wordsRight h2 span{
    margin-left: 38px;
    margin-right: 15px;
    font: 14px MicrosoftYaHei;
    color: #fcaeae;
}

.wordsRight p{
    margin-left: 70px;
    font-size: 14px;
}

.wordsRight h3{
    margin: 48px 0 15px 70px;
    font-size: 24px;
}
/*content over*/
